# dependencies
/node_modules
/test_app/node_modules
/test_app/src/rrq

# jest
/coverage

# typescript
test.js

# js files
*.js
*.d.ts

# production
/build
/test_app/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
